<% @posts.reverse.each do |post| %>
	<div class="col-md-4">
		<a href="/posts/<%=post.id%>"><img class="img-responsive" src="<%=post.image_url(:thumb) %>"></a>
		<h3><a href="/posts/<%=post.id%>"><%=post.title %>
<% if !post.rating.nil? %><span class="badge"><%=post.rating%></span><% end %></a></h3>
<p><span class="label label-warning"><%= post.category %></span></p>
</div>
<% end %>
